
@{
    ViewBag.Title = "Contact2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Web Master 1-A.Yol</h2>
<p>@ViewBag.Ad</p>
<p>@ViewBag.Mail</p>
<p>@ViewBag.Tel</p>

<h2>Web Master 1-B.Yol</h2>
<p>@ViewBag.Webmaster.Ad</p>
<p>@ViewBag.Webmaster.Mail</p>
<p>@ViewBag.Webmaster.Tel</p>

