@model IEnumerable<BasicRepository.Models.DTOs.PersonelDTO>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-5">
    <h2>Personel List</h2>
    <hr />
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="text-center">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Personel Id
                            </th>
                            <th>
                                Personel Name
                            </th>
                            <th>
                                Personel Surname
                            </th>
                            <th>
                                City Name
                            </th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.PersonelId</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PersonelName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PersonelSurname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CityName)
                                </td>
                                <td>
                                    <a class="btn btn-success" asp-action="Update" asp-route-id="@item.PersonelId">Update</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PersonelId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-md-5">
    <a class="btn btn-primary" asp-action="Create">Create New Personel</a>
</div>