@model MVCproje.Models.Views.UlkeModel
@{
    ViewBag.Title = "Crud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Baslik</h2>
<div class="row">
    <div class="col-md-5">
        <form method="post">
            <label>Ulke Id</label><br />
            <input class="form-control" type="text" name="UlkeId" value="@Model.ulke.UlkeId" /><br />
            <label>Ulke Ad</label><br />
            <input class="form-control" type="text" name="UlkeAd" value="@Model.ulke.UlkeAd" /><br />
            <input type="submit" class="@Model.BtnClass" value="@Model.BtnValue" />
            <input type="submit" class="btn btn-warning" value="İptal" formaction="/Ulke/List"/>
        </form>
    </div>
</div>

